@charset "UTF-8";

.head{background-color: #4a245e; padding: 0 35px; height: 60px;}
ul.menu{float: left;}
ul.menu li{list-style-type: none; line-height: 60px; float: left;}
ul.menu a{color: #fff; font-size: 18px; font-weight: 100; text-decoration: none; background-color: #4A245E; padding: 18px;}
ul.menu a:hover,ul.menu a:active{background-color: #3C1D4C;}
ul.menu a:active{color: #ffcc00;}
div.search-box{float: right; width: 25%; margin-top: 8px;}
.search-input{width: 100%; position: relative; background:#5B3A6D;}
.search-input input[type='text']{width: 85%; padding: 11px 5px; background:#5B3A6D; border: none; color: #fff; outline: none; font-size: 15px;}
.search-input input[type='submit']{width: 26px; height: 26px; position: absolute; right: 0; top: 12px; border: none; background: url("../img/search.png") no-repeat;}